<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="flex items-center justify-between w-full bg-teal-200 py-2 ">
        <div class="  flex flex-row justify-center items-center   ml-4">
            <img src="../../static/images/customer.svg" class=" cursor-pointer  mr-2 h-12  " alt=" brand logo">
            <P class="font-bold text-white">MNNIT <br> <span class="text-gray-600 italic">utilities</span></P>
        </div>
        <div class="nav-list ml-4  flex flex-row justify-around ">
            <a href="" class="nav-link text-base capitalize text-teal-800  mx-2 p-2 hover:text-blue-500">community</a>
            <a href="" class="nav-link text-base capitalize text-teal-800  mx-2 p-2 hover:text-blue-500">logout</a>
            <a href="" class="nav-link text-base capitalize text-teal-800 mx-2  p-2 hover:text-blue-500">generate
                qr</a>
            <a href="" class="nav-link text-base capitalize text-teal-800 mx-2 p-2  hover:text-blue-500">contact
                us</a>
        </div>

        <div class=" mr-4 capitalize text-lg font-bold">
            <i class="fa fa-user text-white text-2xl"></i>
            hello,lovedeep
        </div>

    </nav>

</body>

</html>