:root {
    --primary-color: #0bc2ef;
}
a{
    text-decoration: none;
}
body,html{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-image: url('../images/login_bg.jpg');
    background-size: cover;
    background-position: center;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form{
    width: 60%;
    background: #fff;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.login-form{
    width: 100%;
    display: flex;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-img{
    display: block;
    margin: auto;
    width: min(5em,14vw);
    margin-top: 2em;
}
.field{
    padding: 0.6em 0.6em 0.6em 0.6em;
    margin-bottom: 1.5em;
    width: 90%;
    border: 0;
    border-bottom: 0.1em solid gray;
    font-size: min(1em,3vw);
    outline: none;
}
.login-btn{
    padding: 0.6em 0.8em 0.6em 0.8em;
    width: 97%;
    font-size: min(1em,3vw);
    border-radius: 2em;
    display: block;
    margin: auto;
    border: 0.1rem solid var(--primary-color);
    margin-bottom: 1em;
    background: #fff;
    color: var(--primary-color);
}
.login-btn:hover{
    background: var(--primary-color);
    color: #fff;
}
form{
    min-width: 75%;
    padding: 2vw;
    text-align: center;
}
@media only screen and (max-width: 850px) {
    .grid-img {
      display: none;
    }
    .grid-container{
        grid-template-columns: auto;
    }
    .field{
        width: 80%;
    }
    .login-btn{
        width: 80%;
    }
  }