.nav-container{
    display: grid;
    width: 96%;
    margin: auto;
    grid-template-columns:  3rem auto;
    background-color: transparent;
    align-items: center;
    border-bottom: solid 0.1rem gray;
}
.nav-tab-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-self: right;
    grid-gap: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: gray;
    justify-items: center;
    align-items: center;
}
.nav-tab{
    background-color: transparent;
}
#logo img{
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    margin: 0.3em 1em;
}
.user{
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.3em 1em;
}