{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<h1 class="text-center text-5xl capitalize mb-10">student details</h1>
<div class="flex flex-col md:flex-row items-center w-full justify-around">
    <!-- qr container -->
    <div class="w-screen md:w-1/2 mb-10 ">
        <!-- qr -->
        <img src="{{qr_url}}" alt="profile pic" id="qr" class=" text-center mx-auto">
    </div>
    <!-- logout btn for small screen devices -->
    <a href="{% url 'user:logout'%}"
        class="my-10 block text-center text-lg rounded bg-blue-500 px-4 py-2 md:hidden">logout</a>
    <!-- e card container -->
    <div class="w-screen md:w-1/2 mb-10 ">
        <!-- e card -->
        <div class="w-screen mx-auto md:w-4/5 mb-10 flex justify-start items-center flex-col">
            <div class="bg-blue-800 text-sm md:text-md xl:text-lg lg:text-lg sm:text-sm w-full"
                style="border-top-left-radius: 1.5rem; border-top-right-radius: 1.5rem; min-width: 360px;">
                <h1 class="text-center my-3 text-white font-semibold">Motilal Nehru National Institute Of Technology,
                    Prayagraj</h1>
            </div>
            <div class="w-full bg-gray-200 w-3/4" style="min-width: 360px;">
                <h1
                    class="text-center font-semibold md:text-md  lg:text-lg text-sm sm:text-sm xl:text-xl text-gray-700 my-2">
                    Student E-Card</h1>
            </div>
            <div class="w-full shadow-lg hover:shadow-xl transition-shadow duration-500 ease-in-out bg-gray-200 flex"
                style="border-bottom-left-radius: 1.5rem; border-bottom-right-radius: 1.5rem; min-width: 360px;">
                <div class="w-3/4 flex justify-center flex-col md:text-md sm:text-sm text-smlg:text-lg xl:text-lg"
                    style="margin-left: 1em; margin-bottom: 1em;">
                    <h1 class="my-2 uppercase"><b>Name</b> : {{user_details.user.get_full_name}}</h1>
                    <h1 class="my-2 uppercase"><b>Reg. No.</b> : {{user_details.regno}}</h1>
                    <h1 class="my-2 uppercase"><b>Branch</b> : {{user_details.branch}}</h1>
                    <h1 class="my-2 uppercase"><b>Email</b> : <i>{{user_details.user.email}}</i></h1>
                </div>
                <div class="w-1/4 flex justify-center items-center">
                    <img src="/{{user_details.profile_url}}" class="w-11/12 ">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let qr = document.getElementById('qr')
    let tick_status = false
    //todo:before submittng please regenerate a token and use that
    function check_tick_status() {

        var myHeaders = new Headers();
        myHeaders.append("Authorization", "Token 706f64fa4bed78543b9c4939349a53119f912fb2");

        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };
        // todo change this hardcoded regno to dynamic
        fetch("http://localhost:8000/api/tick-status/{{regno}}/", requestOptions)
            .then(response => response.text())
            .then(result => {
                var myObj = JSON.parse(result);
                tick_status = myObj.show_tick;
                if (tick_status) {
                    qr.src = '/static/success.gif'
                    clearInterval(intervalid)
                }
            })
            .catch(error => console.log('error', error));
    }

    intervalid = setInterval(check_tick_status, 500)
</script>

{%endblock%}