{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/style-landing.css' %}">



<body onload="coolAnims()">
    <div class="w-full flex flex-col justify-center items-center">


        {% include "timetable/timetable.html" %}


        <div class="lg:w-1/2 xl:w-1/2 md:w-full flex  items-center p-8 md:p-0" id="floating-elem"
            style="background-image: url('/static/images/bg.jpg'); background-position: center; background-size: cover;">
            <div class=" text-center bg-white lg:px-8 py-4 text-gray-700 rounded-lg flex justify-center items-center flex-col lg:items-start"
                id="helloWorld">
                <h1 class="xl:text-5xl lg:text-4xl text-2xl font-semibold uppercase" style="margin-bottom: 0.5em;">
                    HELLO,
                    {{request.user.first_name}}</h1>
                <h3 class="xl:text-2xl lg:text-xl text-lg xl:my-4 lg:my-3 font-semibold" style="line-height: 1.6rem;">
                    here is the list of Classes you have Today</h3>
                <h3 class="xl:text-2xl lg:text-xl text-lg font-semibold lg:my-2 my-1"
                    style="margin-top: 1em; margin-bottom: 1em;" id="good-day">Have A Good Day!</h3>
                <button
                    class="bg-blue-500 text-lg md:text-lg lg:text-xl text-white font-semibold rounded-lg hover:bg-blue-600"
                    id="checkout-btn">Checkout</button>
            </div>
        </div>
    </div>
    </div>



    {% include "mess/mess.html" %}



    <!-- suugested communities -->
    <h1 class="text-2xl text-gray-600 pl-4 py-3 bg-gray-200">Suggested Communities : </h1>
    <div class="horizontal-scroll flex py-3 flex-row bg-gray-200 hover:shadow-xl transition-all duration-500 ease-in-out" style="overflow-x: auto; font-size: 16px;">
        {% for community in suggested %}
        <div class=" border border-blue-500 hover:bg-gray-500 transition-all duration-500 ease-in-out bg-gray-400 py-2 px-8 m-2 rounded w-full  h-64" id="{{community.slug}}" style="overflow: auto;">
            <!-- image and name and admin -->
            <div class="flex  w-full flex-row ">

                <img src="/{{community.community_img.url}}" class="w-24  h-24 my-2 mr-4 md:mx-0 rounded-full">

                <div class=" flex flex-col ">
                    <h1 class="text-base sm:text-3xl md:text-xl text-center"> <a
                            href="{% url 'community:detail' community.slug %}">{{community.name}}</h1></a>
                    <br>
                    <h2 class="text-lg sm:text-xl md:text-xl capitalize">Admin:{{community.admin}}</h3>

                </div>
            </div>
            <!-- description -->
            <p class=" my-4 text-center text-justify">
                {{community.desc}}
            </p><br>
            <!-- follow/unfollow buttons -->
            {% if community.name != 'notice'%}
            {% if request.user in community.followed_by.all%}
            <a href="{%url 'community:leave' community.slug %}"
                class="float-right bg-white text-blue-500 px-4 py-2 text-lg rounded-md font-bold hover:bg-blue-500 hover:text-white border border-blue-500">&times;
                Leave</a>
            {% else %}
            <a href="{% url 'community:join' community.slug%}"
                class="float-right bg-white text-blue-500 px-4 py-2 text-lg rounded-md font-bold hover:bg-blue-500 hover:text-white border border-blue-500">+
                Join</a>
            {%endif%}
            {%endif%}

        </div>


        {% endfor %}
    </div>


    <!-- all posts followed by user  -->

    <div class=" px-10 py-10 ">
        {% if posts.count %}
        {% for post in posts %}
        {% if post.community in community_followed_by_user %}


        <!-- card start here -->
        <div
            class="border text-center font-sans mb-10 max-w-xl mx-auto rounded-lg flex flex-col bg-white hover:shadow-xl transition-all duration-500 ease-in-out">
            <!-- card header -->
            <div class="flex flex-col sm:flex-row justify-between sm:items-center items-start">
                <h2 class="mt-2 text-xl flex items-center">
                    <img src="/{{post.community.community_img.url}}" class="w-12 h-12 my-2 mx-3  rounded-full">
                    {{post.community.name}}
                </h2>
                {% if request.user == community.admin%}

                <a href="{% url 'community:update-post' post.id %}"
                    class="bg-white w-full sm:w-auto text-red-500 px-4 py-2 text-lg rounded-md font-bold hover:bg-red-500 hover:text-white border border-red-500">edit
                    this post</a>
                {% endif %}
            </div><!-- closing card header -->


            <!-- card content -->
            <div class="pr-4 py-2 ml-3">
                <h1 class="text-left text-lg my-2 mx-2 text-gray-500">{{post.created_at}}</h1>
                <h1 class="text-left font-black capitalize text-lg my-2 mx-2">{{post.post_title}}</h1>
            </div>
            {% if post.post_img %}
            <img src="/{{post.post_img.url}}" class="w-full px-2">
            {%endif%}
            <p class="clear-both my-2 mx-2 text-left px-4 py-2 text-xl">{{post.post_desc}}</p>


        </div>
        {% endif %}
        {% endfor %}

        {% else %}
        <p>no post available</p>
        {%endif%}
    </div>




    <script>
        function coolAnims() {
            appear = setInterval(doit, 5)
            op = 0.0
            posi = screen.width > 1024 ? -100 : 0
            posf = screen.width > 1024 ? 0 : 100

            function doit() {
                if (posi > posf) {
                    clearInterval(appear)
                }
                document.getElementById('helloWorld').style.opacity = op;
                document.getElementById('helloWorld').style.top = posi + 'px'
                op += 0.01
                posi += 1
            }
        }
    </script>
    {% endblock %}