{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />


<div id="landing">

    <div class="content-container">
        <div class="content">
            <h3 id="status">Status:
                <a href="{%url 'qr:generateqr' %}" style="color: #25d30a;">
                    Generate QR
                </a>
                <span style="color: #25d30a;">

                </span>
                <br>
                <a href="#" style="font-size: 0.9rem; color: gray; font-weight: 600;">
                    {% if isInsideHostel%}
                    <p>Checkout->></p>
                    {% else %}
                    <p>Checkin&lt&lt-</p>
                    {%endif%}
                </a>
            </h3>
        </div>

        <div class="content" id="healthcare">
            <h3>
                HEALTHCARE FACILITIES
            </h3>
        </div>

        <div class="content" id="welcome">
            <h1 style="font-size: 1.5rem;">
                Tuesday, 13 May
            </h1><br>
            <p style="font-size: 1rem;">
                Good Morning !
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed magni aperiam con
            </p>
        </div>

        <div class="content" id="mess_schedule">
            <h1 id="mess_period">
                BREAKFAST
            </h1>
            <P id="menu">
                aalo parantha + aachar + coffee
            </P>
            <br>
            <p>
                Would you be having breakfast today?
            </p>
            <br>
            <div class="choice-container">
                <a href="" class="is-eating-choice">YES</a>
                <br>
                <a href="" class="is-eating-choice">NO</a>
            </div>
        </div>

        <div class="content timetable-container">
            <div class="subject">
                <div class="subject-properties" id="class-time">9AM - 10AM</div>
                <div class="subject-properties" id="class-name">Maths</div>
                <div class="subject-properties" id="class-attendance">Your Attendance :85%</div>
                <div class="subject-properties" id="class-mark-attendance">Not Attending</div>
            </div>
            <div class="subject">
                <div class="subject-properties" id="class-time">9AM - 10AM</div>
                <div class="subject-properties" id="class-name">Maths</div>
                <div class="subject-properties" id="class-attendance">Your Attendance :85%</div>
                <div class="subject-properties" id="class-mark-attendance">Not Attending</div>
            </div>
            <div class="subject">
                <div class="subject-properties" id="class-time">9AM - 10AM</div>
                <div class="subject-properties" id="class-name">Maths</div>
                <div class="subject-properties" id="class-attendance">Your Attendance :85%</div>
                <div class="subject-properties" id="class-mark-attendance">Not Attending</div>
            </div>
            <div class="subject">
                <div class="subject-properties" id="class-time">9AM - 10AM</div>
                <div class="subject-properties" id="class-name">Maths</div>
                <div class="subject-properties" id="class-attendance">Your Attendance :85%</div>
                <div class="subject-properties" id="class-mark-attendance">Not Attending</div>
            </div>
            <div class="subject">
                <div class="subject-properties" id="class-time">9AM - 10AM</div>
                <div class="subject-properties" id="class-name">Maths</div>
                <div class="subject-properties" id="class-attendance">Your Attendance :85%</div>
                <div class="subject-properties" id="class-mark-attendance">Not Attending</div>
            </div>
            <div class="subject">
                <div class="subject-properties" id="class-time">9AM - 10AM</div>
                <div class="subject-properties" id="class-name">Maths</div>
                <div class="subject-properties" id="class-attendance">Your Attendance :85%</div>
                <div class="subject-properties" id="class-mark-attendance">Not Attending</div>
            </div>
        </div>
    </div>

    <a href="{% url 'community:all' 'followed'%}">explore communities</a>
    <div id="contact" class=" w-full bg-teal-200 font-sans mx-auto shadow-lg flex flex-col justify-around sm:flex-row">
        <div class="svg__container px-20 text-center items-center self-center my-4">
            <img src="{% static 'images/buildings.svg' %}" alt="svg image" class="w-48 h-48 md:w-64">
        </div>
        <div class="form__container text-center w-full max-w-2xl self-center">
            <h1 class="text-xl md:text-3xl font-bold capitalize my-4">need some help?</h1>
            <p class="text-lg md:text-xl font-light mb-4">feel free to ask.happy to help!</p>
            <form action="{% url 'user:complaint' %}" method="post" class=" mx-auto max-w-3xl mb-4 p-4 text-center ">
                {% csrf_token%}
                <textarea name="complaint" placeholder="tell us how can we help?" id="" cols="30" rows="10"
                    class="block text-base border-teal-500 capitalize w-11/12 md:w-full border shadow-xs p-2 bg-gray-100 mx-auto"></textarea>
                <button type="submit"
                    class="px-4 py-2 bg-blue-500 text-white mt-4 text-base capitalize font-bold rounded">register
                    complaint</button>
            </form>

        </div>
    </div>

    {% endblock %}