{% extends 'base/auth_base.html' %}
{% load static %}

{% block auth_body %}
<!-- STYLESHEET FOR THE PAGE -->
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />

<div class="container">
    <div class="main-form">
        <div class="grid-container">
            <div class="grid-items signup-form">
                <div style="width: 100%; text-align: center;">
                    <img src="https://img.icons8.com/ios-filled/100/000000/user-male-circle.png" class="user-img">
                    <h3 style="font-size: 1.5rem; width: 100%;">New User Sign Up</h3>
                </div>

                <form action="" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{user_basic_form.errors}}
                    {{user_additional_form.errors}}

                    <div class="form-elem">
                        {{user_basic_form.username}}
                        <label>Username</label>
                    </div>

                    <div class="form-elem">
                        {{user_basic_form.first_name}}
                        <label>Firstname</label>
                    </div>

                    <div class="form-elem">
                        {{user_basic_form.last_name}}
                        <label>Lastname</label>
                    </div>

                    {{user_additional_form.profile_pic}}

                    <div class="form-elem">
                        {{user_additional_form.regno}}
                        <label>Reg. No.</label>
                    </div>

                    <div class="form-elem">
                        {{user_additional_form.roomno}}
                        <label>Room No.</label>
                    </div>

                    <div class="form-elem">
                        {{user_basic_form.email}}
                        <label>Email</label>
                    </div>

                    {{user_additional_form.group}}

                    {{user_additional_form.hostel}}

                    {{user_additional_form.branch}}

                    <div class="form-elem">
                        {{user_basic_form.password}}
                        <label>Password</label>
                        <img src="https://img.icons8.com/pastel-glyph/64/000000/lock.png" class="lock-icon">
                    </div>

                    <!-- <div class="form-elem">
                        <input type="password" required class="field">
                        <label>Confirm Password</label>
                        <img src="https://img.icons8.com/pastel-glyph/64/000000/lock.png" class="lock-icon">
                    </div> -->
                    <button type="submit" class="signup-btn">SignUp</button>
                </form>
            </div>
            <div class="grid-items grid-img"><img src="{% static 'images/signup_side.jpg' %}"
                    style="width: 100%; height: 100%; border-bottom-right-radius: 2em;"></div>
        </div>
    </div>
</div>
{% endblock %}